#icons{
    /* background-color: black; */
    width: 14%;
    justify-content: space-evenly;
}
.about{
    margin: 20px;
    padding-top: 20px;
    font-size: 18px;
}
#abouttitle{
    padding-bottom: 20px;
}

#btns{
   border: 1px solid black;
   background-color: black;
   color: white;
}
#btns:hover{
    border: 1px solid black;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0); 
}