{% extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="container mt-5">
        <h3 class="text-center" id="abouttitle">About Pitch</h3>
        <div class="row">
        <div class="col-md-6">
            <img src="{{url_for('static', filename='img1.png')}}"/>
        </div>
        <div class="col-md-6">
            <div class="about">
                <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>

            </div>
            <div class="about">
                <p>This app will help you as our users to use that one minute wisely. The users will submit their one minute pitches and other users will vote on them and leave comments to give their feedback on them.</p>

            </div>
        </div>
        </div>
    </div>
    <div class="container mt-5">
        <h3 class=" text-center mb-3">The Pitches Category</h3>
        <div class="card-group">
            <div class="card">
                <img src="{{url_for('static', filename='img2.jpg')}}"/>
                <div class="card-body">
                <h5 class="card-title">Interview Pitch</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='img2.jpg')}}"/>
              <div class="card-body">
                <h5 class="card-title">Product Pitch</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='img2.jpg')}}"/>
              <div class="card-body">
                <h5 class="card-title">Promotion Pitch</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock%}